# Ignorar node_modules
node_modules/

# Ignorar arquivos de ambiente
.env
.env.*

.venv
.venvEmpresa

venv/
venvEmpresa/

# Ignorar arquivos de dependência
package.json
package-lock.json

__pycache__
/__pycache__